## A / B Testing

Running a Chi square test with data from the Library of Montana University

Resampling approach + scipy approach

### Data reading

The important pieces of information (clicks on each element of interest & visits on each page) are scattered around. Let's collect them:

In [11]:
import pandas as pd
pd.set_option("max_colwidth", 1000)
pd.set_option("max_rows", 1000)

file_names = {
    "interact": "Homepage Version 1 - Interact, 5-29-2013",
    "connect": "Homepage Version 2 - Connect, 5-29-2013",
    "learn": "Homepage Version 3 - Learn, 5-29-2013",
    "help": "Homepage Version 4 - Help, 5-29-2013",
    "services": "Homepage Version 5 - Services, 5-29-2013",
}

# read data
path = '../data/CrazyEgg/'
v1 = pd.read_csv(path + file_names['interact'] + f"/Element list {file_names['interact']}.csv")
v2 = pd.read_csv(path + file_names['connect'] + f"/Element list {file_names['connect']}.csv")
v3 = pd.read_csv(path + file_names['learn'] + f"/Element list {file_names['learn']}.csv")
v4 = pd.read_csv(path + file_names['help'] + f"/Element list {file_names['help']}.csv")
v5 = pd.read_csv(path + file_names['services'] + f"/Element list {file_names['services']}.csv")

In [12]:
# clicks on each element
v1_clicks = int(v1.loc[v1["Name"]=="INTERACT"]["No. clicks"])
v2_clicks = int(v2.loc[v2["Name"]=="CONNECT"]["No. clicks"])
v3_clicks = int(v3.loc[v3["Name"]=="LEARN"]["No. clicks"])
v4_clicks = int(v4.loc[v4["Name"]=="HELP"]["No. clicks"])
v5_clicks = int(v5.loc[v5["Name"]=="SERVICES"]["No. clicks"])

In [13]:
print(v1_clicks, v2_clicks, v3_clicks, v4_clicks, v5_clicks)

42 53 21 38 45

In [14]:
# visits on each page (they are in the last column of the second row, we read them manually)
v1_visits = 10283
v2_visits = 2742
v3_visits = 2747
v4_visits = 3180
v5_visits = 2064

#### Click Through rate

Defined as clicks / visits

In [15]:
# click-through rates
interact_rate = float(v1_clicks / v1_visits)
connect_rate = float(v2_clicks / v2_visits)
learn_rate = float(v3_clicks / v3_visits)
help_rate = float(v4_clicks / v4_visits)
services_rate = float(v5_clicks / v5_visits)

In [16]:
# CTR from worst to best
rates = pd.Series([interact_rate, connect_rate, learn_rate, help_rate, services_rate])
names = pd.Series(["Interact", "Connect", "Learn", "Help", "Services"])

pd.DataFrame({"rates":rates, "names":names}).sort_values("rates")

      rates     names
0  0.004084  Interact
2  0.007645     Learn
3  0.011950      Help
1  0.019329   Connect
4  0.021802  Services

#### Contingency table

For observed values. We note clicks and no-clicks (defined as visits - clicks)

In [17]:
# no-clicks
v1_noclick = v1_visits - v1_clicks
v2_noclick = v2_visits - v2_clicks
v3_noclick = v3_visits - v3_clicks
v4_noclick = v4_visits - v4_clicks
v5_noclick = v5_visits - v5_clicks

In [18]:
# contingency table as a pd.DataFrame creation
clicks = pd.Series([v1_clicks, v2_clicks, v3_clicks, v4_clicks, v5_clicks])
noclicks = pd.Series([v1_noclick, v2_noclick, v3_noclick, v4_noclick, v5_noclick])

observed = pd.DataFrame(data = [clicks, noclicks])
observed.columns = ["Interact", "Connect", "Learn", "Help", "Services"]
observed.index = ["Click", "No-click"]

observed

          Interact  Connect  Learn  Help  Services
Click           42       53     21    38        45
No-click     10241     2689   2726  3142      2019

## Resampling approach

In [19]:
visits = [v1_visits, v2_visits, v3_visits, v4_visits, v5_visits]

overall_clicks = clicks.sum()
overall_visits = sum(visits)
print("clicks:", overall_clicks, "|  visits:", overall_visits)

# expected click-through rate
expected_CTR = overall_clicks / overall_visits
expected_CTR

clicks: 199 |  visits: 21016

0.009468976018271793

In [20]:
# expected clicks per version
v1_exp_clicks = v1_visits * expected_CTR
v2_exp_clicks = v2_visits * expected_CTR
v3_exp_clicks = v3_visits * expected_CTR
v4_exp_clicks = v4_visits * expected_CTR
v5_exp_clicks = v5_visits * expected_CTR

In [21]:
# expected no clicks per version
v1_exp_noclick = v1_visits - v1_exp_clicks
v2_exp_noclick = v2_visits - v2_exp_clicks
v3_exp_noclick = v3_visits - v3_exp_clicks
v4_exp_noclick = v4_visits - v4_exp_clicks
v5_exp_noclick = v5_visits - v5_exp_clicks

In [22]:
# contingency table for expected values
exp_clicks = pd.Series([v1_exp_clicks, 
                        v2_exp_clicks, 
                        v3_exp_clicks, 
                        v4_exp_clicks, 
                        v5_exp_clicks])

exp_noclicks = pd.Series([v1_exp_noclick,
                          v2_exp_noclick, 
                          v3_exp_noclick, 
                          v4_exp_noclick, 
                          v5_exp_noclick])

expected = pd.DataFrame(data = [exp_clicks, exp_noclicks])
expected.columns = ["Interact", "Connect", "Learn", "Help", "Services"]
expected.index = ["Click", "No-click"]

expected

             Interact      Connect        Learn         Help     Services
Click        97.36948    25.963932    26.011277    30.111344    19.543967
No-click  10185.63052  2716.036068  2720.988723  3149.888656  2044.456033

The expected values show the same expected ratio of click to no-click for each test but the numbers are different because the number of page visits is different for each test.

In [23]:
expected.round()

          Interact  Connect   Learn    Help  Services
Click         97.0     26.0    26.0    30.0      20.0
No-click   10186.0   2716.0  2721.0  3150.0    2044.0

In [24]:
observed

          Interact  Connect  Learn  Help  Services
Click           42       53     21    38        45
No-click     10241     2689   2726  3142      2019

Function to compute the pearson residuals. Measures the extent to which the actual counts differ from the expected counts.

In [25]:
import numpy as np
def pearson_residuals(obs, exp):
    return (obs - exp) / (np.sqrt(exp))

In [26]:
# observed chi statistic
R = pearson_residuals(observed, expected) # pearson residuals
R

          Interact   Connect     Learn      Help  Services
Click    -5.611242  5.305891 -0.982579  1.437600  5.758169
No-click  0.548626 -0.518771  0.096069 -0.140558 -0.562992

In [28]:
R = R**2 # pearson residuals squared
R

            Interact     Connect     Learn      Help     Services
Click     991.370718  792.561863  0.932117  4.271219  1099.353886
No-click    0.090595    0.072427  0.000085  0.000390     0.100463

In [29]:
chi2observed = R.sum().sum() # sum of squared pearson residuals
chi2observed

2888.753764499187

In [30]:
overall_noclicks = overall_visits - overall_clicks
overall_noclicks

20817

We create a "box" with as many clicks as we got over all pages, represented as 1's, and as many no-clicks as we got represented as 0's.

In [35]:
import random
box = [1] * overall_clicks
box.extend([0]*overall_noclicks)
random.shuffle(box)
#print(box)

We run the test many times and count how many times the chi square statistic is greater than the observed (i.e. how many times something more extreme happens by chance).

In [36]:
chi_scores = []
visits = [v1_visits, v2_visits, v3_visits, v4_visits, v5_visits]

for sim in range(1000):
    sample_clicks = [sum(random.sample(population=box, k=v)) for v in visits]
    sample_noclicks = [visits[i] - sample_clicks[i] for i in range(5)]

    observed_ = pd.DataFrame([sample_clicks, sample_noclicks],
                             columns = ["Interact", "Connect", "Learn", "Help", "Services"],
                             index = ["Click", "No-click"])

    R = pearson_residuals(observed_, expected)
    R = R**2

    chi_scores.append(R.sum().sum())
    
resampled_p_value = sum(chi_scores >= chi2observed) / len(chi_scores)
resampled_p_value # How many times the chi_scores were large than the observed chi_scores

0.0

## Scipy approach

In [38]:
observed

          Interact  Connect  Learn  Help  Services
Click           42       53     21    38        45
No-click     10241     2689   2726  3142      2019

In [37]:
from scipy import stats
chisq, pvalue, df, expected = stats.chi2_contingency(observed)
chisq, pvalue

(96.7432353798328, 4.852334301093838e-20)

## How do we decide who's the winner?

Read about [Post Hoc Tests](https://alanarnholt.github.io/PDS-Bookdown2/post-hoc-tests-1.html) and find out whether we can declare a clear winner!

In [43]:
significance_level = 0.95
p_value_threshold = 1 - significance_level
num_comparisons = 10
post_hoc_p_value_threshold = round(p_value_threshold / num_comparisons, 4)
post_hoc_p_value_threshold

0.005

In [44]:
button_texts = ['Interact', 'Connect', 'Learn', 'Help', 'Services']

bonferroni_comparisons = []
bonferroni_p_values = []
better_than_p_value_threshold = []

for i in range(5):
    for j in range(i+1,5):
        chisq, pvalue, df, expected = stats.chi2_contingency(observed[[button_texts[i], button_texts[j]]])
        
        bonferroni_comparisons.append(button_texts[i] + ' vs ' + button_texts[j])
        bonferroni_p_values.append(pvalue)
        better_than_p_value_threshold.append(pvalue < post_hoc_p_value_threshold)

bonferroni_results = pd.DataFrame({
    "comparison": bonferroni_comparisons,
    "p_values": bonferroni_p_values,
    "Rejects null hypothesis": better_than_p_value_threshold
})
bonferroni_results.sort_values('p_values')

             comparison      p_values  Rejects null hypothesis
3  Interact vs Services  5.719451e-18                     True
0   Interact vs Connect  2.225033e-16                     True
2      Interact vs Help  9.036000e-07                     True
8     Learn vs Services  5.054100e-05                     True
4      Connect vs Learn  2.767888e-04                     True
9      Help vs Services  7.370912e-03                    False
1     Interact vs Learn  2.541982e-02                    False
5       Connect vs Help  2.808815e-02                    False
7         Learn vs Help  1.251275e-01                    False
6   Connect vs Services  6.188771e-01                    False